.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($color: #000, $alpha: 0.6);
  display: flex;
  justify-content: center;
  transition: all ease-in 1s;
  z-index: 99;

  .form-block {
    background-color: #fff;
    border-radius: 12px;
    width: 500px;
    margin-top: 40px;
    height: max-content;

    .title {
      font-size: 24px;
      font-weight: bold;
      padding: 20px;
      border-bottom: 1px solid #ddd;
    }

    .body {
      padding: 20px;

      .inputControl {
        margin-bottom: 12px;

        label {
          display: block;
          margin-bottom: 4px;
          font-size: 15px;
        }

        input {
          height: 36px;
          padding: 0 12px;
          border-radius: 12px;
          width: 100%;
          outline: none;
          border: 1px solid #a6a3a3;
          font-size: 15px;
        }

        select {
          height: 36px;
          padding: 0 12px;
          width: 100%;
          border-radius: 12px;
          outline: none;
          border: 1px solid #a6a3a3;
          font-size: 15px;
          background: unset;
        }
      }

    }

    .footer {
      padding: 0 20px 20px 20px;
      display: flex;
      align-items: center;
      justify-content: right;

      button {
        height: 36px;
        background-color: unset;
        border: none;
        outline: none;
        cursor: pointer;
        color: #fff;
        padding: 0 16px;
        font-size: 16px;
        border-radius: 8px;
      }

      .cancelBtn {
        background-color: #6c757d;
      }

      .submitBtn {
        margin-left: 12px;
        background-color: #007bff;

      }
    }
  }
}
